@use "./tokens" as *;

@mixin font-face(
  $family,
  $file,
  $format: "woff2-variations",
  $weight: 100 900,
  $style: normal,
  $display: swap,
  $path: null
) {
  @font-face {
    font-family: $family;

    @if $path != null {
      src: url("#{$path}/#{$file}") format(#{$format});
    } @else {
      src: url("#{$file}") format(#{$format});
    }
    font-weight: $weight;
    font-style: $style;
    font-display: $display;
  }
}

@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}


@mixin nav-item-base {
  font: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  transition: background-color $transition-fast, transform $transition-fast;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover {
    background-color: $hover-bg-light;
  }

  &:active {
    transform: translateY(0.5px);
  }

  &:focus-visible {
    outline: 2px solid rgba(255, 255, 255, 0.85);
    outline-offset: 2px;
  }
}

@mixin sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
