
@use "../abstracts/index" as *;

.navbar {
  @include flex(row, space-between, center);

  background: $navbar-bg-gradient;
  backdrop-filter: blur($blur-md);
  border-radius: $radius-lg;
  padding: $space-xs $space-sm;
  color: $color-white;
  margin: $space-sm;
  box-shadow: $shadow-sm;
  a {
    text-decoration: none;
    color: inherit;
  }
  :is(.navbar-logo, .navbar-settings, .menu) {
    @include flex(row, center, center);
  }

  svg {
    width: $icon-lg;
    height: $icon-lg;
    filter: $drop-shadow-sm;
  }
  .hamburger {
    display: none;
    font-size: $font-xl;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu {
    flex: 1;
    @include flex(row, center, center);
    gap: $space-2xl;
    &.open {
      display: flex;
    }
  }
  .header-button {
    font-size: $font-xl;
    text-shadow: $shadow-text-sm;
    border-radius: $radius-md;
    transition: $transition-fast;
    padding: $space-2xs $space-xs;
  }

  :is(.header-button, .navbar-settings, .navbar-logo):hover {
    background: $hover-bg-light;
    backdrop-filter: blur($blur-sm);
    cursor: pointer;
  }

  :is(.navbar-settings, .navbar-logo) {
    border-radius: $radius-md;
    transition: $transition-fast;
    padding: $space-xs $space-sm;
  }

  @media (max-width: 700px) {
    @include flex(row, space-between, center);
    width: auto;

    .hamburger {
      display: block;
      margin-left: auto;
      color: $color-white;
      text-shadow: $shadow-text-sm;
    }

    .menu {
      display: none;
      flex-direction: column;
      width: auto;
      gap: $space-md;
    }

    > .navbar-settings {
      display: none;
    }
  }
}
