.card-section {
    display: flex;
    justify-content: center;
}
.weather-card {
    width: auto;
    max-width: 420px;
    padding: 1rem;
    margin: 0.5rem 0 2rem 0;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(255, 255, 255, 0.32);
}

.weather-card-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    gap: 1rem;
}

.day-night-icon {
    width: 4rem;
    height: 4rem;
    color: white;
}

.weather-temp {
    text-align: right;
}

.weather-temp .temp-c {
    display: block;
    font-size: 3.6rem;
    font-weight: 800;
    line-height: 1;
    color: white;
}

.weather-temp .temp-f {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.95rem;
    color: #d1d5db; 
}

.weather-extra {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.extra-item {
    padding: 0.5rem 1rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.63);
    
}

.extra-item .label {
    display: block;
    font-size: 0.75rem;
}

.extra-item .value {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0.2rem;
    color: white;
}


