@font-face {
  font-family: "Roboto";
  src: url("../media/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../media/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf") format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
