
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(115deg,rgba(98, 207, 244, 0.90),rgba(44, 103, 242, 0.90));
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 0.6rem 0.9rem;
  margin: 2rem 1rem 1rem 1rem;
  color: white;
  box-shadow: 0.2px 0.5px 0.5px hsl(0deg 0% 0% / 0.49);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: auto;
  text-shadow: 0.2px 0.5px 0.5px hsl(0deg 0% 0% / 0.49);
}
