
.forecast-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: auto;
    margin-top: 1.5rem;
}

.forecast-row {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    gap: 2rem;
    width: auto;
}

.forecast-card {
    max-width: 350px;
    margin: 0.5rem;
}

.weekday-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
}
