:root{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}



body {
    margin: 0; 
    min-height: 100vh; 
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
}


.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(115deg,rgba(98, 207, 244, 0.90),rgba(44, 103, 242, 0.90));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: .75rem;
    color: white;
    margin:1rem 1rem 0 1rem;


}

.navbar-logo,
.navbar-settings,
.menu {
    display: flex;
    align-items: center;
}

.navbar svg{
    width: 2rem;
    height: 2rem;
    filter: drop-shadow(0.2px 0.5px 0.5px rgba(0,0,0,0.49));

}

.hamburger { 
    display: none; 
    font-size: 2rem; 
    background: none; 
    border: none; 
    cursor: pointer; 
}

.menu {
    flex: 1; 
    display: flex; 
    justify-content: center;
    gap: 5rem;
}

.header-button{
    font-size: 2rem;
    text-shadow: 0.2px 0.5px 0.5px hsl(0deg 0% 0% / 0.49);
}

@media (max-width: 700px) {

    .navbar {
        flex-direction: row;            
        justify-content: space-between; 
        align-items: center;
        width: auto;
    }

    .hamburger {
        display: block;
        margin-left: auto; 
        color: white;
        text-shadow: 0.2px 0.5px 0.5px hsl(0deg 0% 0% / 0.49);
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
    }

    .menu.open {
        display: flex;
    }

    .navbar > .navbar-settings {
        display: none;
    }
}

