.content-heading {
    padding: 3rem 1rem;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.content-heading h1 {
    font-size: clamp(1.8rem, 4vw, 3rem);
    color: white;
    font-weight: 500;
    text-shadow: 0.2px 0.5px 0.5px hsl(0deg 0% 0% / 0.49);
    backdrop-filter: blur(3px);
}

.weather-rotator {
    display: inline-block;    
    font-weight: 600;
    transition: opacity 0.5s ease, transform 0.4s ease;
    background: rgba(135, 206, 250, 0.20); 
    border: 1px solid rgba(255,255,255,0.25);
    backdrop-filter: blur(5px);
    border-radius: 6px;
    padding: 0.2rem 0.5rem;
}


.weather-rotator.fade-out {
    opacity: 0;
    transform: scale(0.96);
}

.weeks-heading{
    font-size: clamp(1.5rem, 2vw, 1.5rem);
    color: white;
    text-shadow: 0.2px 0.5px 0.5px hsl(0deg 0% 0% / 0.49);
    backdrop-filter: blur(3px);
} 

.weeks-heading h2{
    padding: 1rem 1rem;
    margin: 0 auto;
}