/*
Pentru fiecare import se face un GET, cu SASS se face un singur GET pentru doar acest fisier.

DE MODIFICAT CU SASS.
*/
@import url("./root.css");
@import url("./navbar.css");
@import url("./heading.css");
@import url("./card.css");
@import url("./forecast.css");
@import url("./footer.css");