@use "../styles/abstracts/index";

@use "../styles/components/fonts";
@use "../styles/components/root";

@use "../styles/components/navbar";
@use "../styles/components/heading";
@use "../styles/components/card";
@use "../styles/components/forecast";
@use "../styles/components/footer";