:root{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}



body {
    margin: 0; 
    min-height: 100vh; 
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
}
